{% extends 'pagination.html' %}

{% block content %}
<main class="recipe-grid">
    {% for user in user_model_list %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'user_detail' user.id %}">{{ user_model.user }}</a>
        </h2>
        {% for recipe in user.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </p>
        {% endfor %}
        {% for tag in user.tags.all %}
        <p>
            <a href="{% url 'tag_detail' tag.id %}">{{ tag.name }}</a>
        </p>
        {% endfor %}
    </div>
    {% endfor %}
</main>
{% endblock content %}