{% extends 'base.html' %}

{% block content %}

<main class="delete-form">
    <form class="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete this '{{ mealplan.name }}'?</h3>
        {{ form.as_p }}
        <div>
            <button class="button">Delete</button>
        </div>
    </form>
</main>

{% endblock content %}