{% extends 'base.html' %}

{% block content %}

<main class="tag-detail">
    <div>
        <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>Recipes for {{ mealplan.name }}</h2>
    <h3>by {{ mealplan.owner | default_if_none:'Unknown' }}</h3>
    <h3>On {{ mealplan.date | date:"m/d/y" }}</h3>
    {% for recipe in mealplan.recipes.all %}
    <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
    {% endfor %}
</main>

{% endblock content %}