{% extends 'base.html' %}

{% block content %}

<main class="login_page">
    <h2 class="login_title">
        Log in
    </h2>
    <form class="login_form" , method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="login_button" , type="submit">Log In</button>
    </form>
</main>

{% endblock content %}