{% extends 'pagination.html' %}

{% block content %}

<main>
    <h1>Your Shopping List</h1>
    <div>
        <form method="post" action="{% url 'shopping_list_delete_all' %}">
            {% csrf_token %}
            <button class="button">Delete All</button>
        </form>
        <ul>
            {% for item in shoppinglist_list %}
            <li>{{ item.food_item.name }}</li>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock content %}